@tailwind base;
@tailwind components;
@tailwind utilities;





.hero-bg{
    background-image: url('./assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.download-bg{
    background-image: url('https://esanchari.com/static/media/dowloadAppBG.99d574c7100e6775889d.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}