@tailwind base;
@tailwind components;
@tailwind utilities;





.hero-bg{
    background-image: url('https://img.freepik.com/free-vector/cartoon-summer-background_52683-61812.jpg?t=st=1710835574~exp=1710839174~hmac=92bd3f8b4897a2c7aca2bc387309fed1c873c4a976ab90cd8b9283f8bf101cb2&w=1060');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.download-bg{
    background-image: url('https://esanchari.com/static/media/dowloadAppBG.99d574c7100e6775889d.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}